@charset "utf-8";
/*去掉列表标记*/
.list-none{
    list-style-type: none !important;
}
/********************************有关背景图片的封装  开始********************************/
/*背景图定位在容器的正中间*/
.bg-center{
    background-position: center !important;
}
/*背景图不会随着滚动条而滚动*/
.bg-fixed{
    background-attachment: fixed !important;
}
/*背景图会随着滚动条而滚动*/
.bg-scroll{
    background-attachment: scroll !important;
}
/*背景图不重复*/
.bg-none{
    background-repeat: no-repeat !important;
}
/********************************有关背景图片的封装  结束********************************/

/********************************外边距  开始********************************/
/*上外边距*/
.mt0{/*上外边距0像素*/
    margin-top: 0 !important;
}
.mt1{/*上外边距1像素*/
    margin-top: 1px !important;
}
.mt3{/*上外边距3像素*/
    margin-top: 3px !important;
}
.mt4{/*上外边距4像素*/
    margin-top: 4px !important;
}
.mt5{/*上外边距5像素*/
    margin-top: 5px !important;
}
.mt6{/*上外边距6像素*/
    margin-top: 6px !important;
}
.mt7{/*上外边距7像素*/
    margin-top: 7px !important;
}
.mt8{/*上外边距8像素*/
    margin-top: 8px !important;
}
.mt9{/*上外边距9像素*/
    margin-top: 9px !important;
}
.mt10{/*上外边距10像素*/
    margin-top: 10px !important;
}
.mt11{/*上外边距11像素*/
    margin-top: 11px !important;
}
.mt12{/*上外边距12像素*/
    margin-top: 12px !important;
}
.mt15{/*上外边距15像素*/
    margin-top: 15px !important;
}
.mt17{/*上外边距17像素*/
    margin-top: 17px !important;
}
.mt18{/*上外边距18像素*/
    margin-top: 18px !important;
}
.mt20{/*上外边距20像素*/
    margin-top: 20px !important;
}
.mt25{/*上外边距25像素*/
    margin-top: 25px !important;
}
.mt26{/*上外边距26像素*/
    margin-top: 26px !important;
}
.mt28{/*上外边距28像素*/
    margin-top: 28px !important;
}
.mt30{/*上外边距30像素*/
    margin-top: 30px !important;
}
.mt33{/*上外边距33像素*/
    margin-top: 33px !important;
}
.mt34{/*上外边距34像素*/
    margin-top: 34px !important;
}
.mt35{/*上外边距35像素*/
    margin-top: 35px !important;
}
.mt38{/*上外边距38像素*/
    margin-top: 38px !important;
}
.mt40{/*上外边距40像素*/
    margin-top: 40px !important;
}
.mt42{/*上外边距42像素*/
    margin-top: 42px !important;
}
.mt45{/*上外边距45像素*/
    margin-top: 45px !important;
}
.mt48{/*上外边距48像素*/
    margin-top: 48px !important;
}
.mt50{/*上外边距50像素*/
    margin-top: 50px !important;
}
.mt55{/*上外边距55像素*/
    margin-top: 55px !important;
}
.mt57{/*上外边距57像素*/
    margin-top: 57px !important;
}
.mt60{/*上外边距60像素*/
    margin-top: 60px !important;
}
.mt65{/*上外边距65像素*/
    margin-top: 65px !important;
}
.mt68{/*上外边距68像素*/
    margin-top: 68px !important;
}
.mt70{/*上外边距70像素*/
    margin-top: 70px !important;
}
.mt78{/*上外边距78像素*/
    margin-top: 78px !important;
}
.mt80{/*上外边距80像素*/
    margin-top: 80px !important;
}
.mt85{/*上外边距85像素*/
    margin-top: 85px !important;
}
/*右外边距*/
.mr0{/*右外边距0像素*/
    margin-right: 0 !important;
}
.mr3{/*右外边距3像素*/
    margin-right: 3px !important;
}
.mr5{/*右外边距5像素*/
    margin-right: 5px !important;
}
.mr7{/*右外边距7像素*/
    margin-right: 7px !important;
}
.mr8{/*右外边距8像素*/
    margin-right: 8px !important;
}
.mr10{/*右外边距10像素*/
    margin-right: 10px !important;
}
.mr12{/*右外边距12像素*/
    margin-right: 12px !important;
}
.mr15{/*右外边距15像素*/
    margin-right: 15px !important;
}
.mr17{/*右外边距17像素*/
    margin-right: 17px !important;
}
.mr20{/*右外边距20像素*/
    margin-right: 20px !important;
}
.mr22{/*右外边距22像素*/
    margin-right: 22px !important;
}
.mr25{/*右外边距25像素*/
    margin-right: 25px !important;
}
.mr28{/*右外边距28像素*/
    margin-right: 28px !important;
}
.mr30{/*右外边距30像素*/
    margin-right: 30px !important;
}
.mr32{/*右外边距32像素*/
    margin-right: 32px !important;
}
.mr33{/*右外边距33像素*/
    margin-right: 33px !important;
}
.mr34{/*右外边距34像素*/
    margin-right: 34px !important;
}
.mr35{/*右外边距35像素*/
    margin-right: 35px !important;
}
.mr36{/*右外边距36像素*/
    margin-right: 36px !important;
}
.mr40{/*右外边距40像素*/
    margin-right: 40px !important;
}
.mr45{/*右外边距45像素*/
    margin-right: 45px !important;
}
.mr50{/*右外边距50像素*/
    margin-right: 50px !important;
}
.mr55{/*右外边距55像素*/
    margin-right: 55px !important;
}
.mr60{/*右外边距60像素*/
    margin-right: 60px !important;
}
.mr62{/*右外边距62像素*/
    margin-right: 62px !important;
}
.mr65{/*右外边距65像素*/
     margin-right: 65px !important;
 }
.mr70{/*右外边距70像素*/
    margin-right: 70px !important;
}
.mr75{/*右外边距75像素*/
    margin-right: 75px !important;
}
.mr80{/*右外边距80像素*/
    margin-right: 80px !important;
}
/*下外边距*/
.mb0{/*下外边距0像素*/
    margin-bottom: 0 !important;
}
.mb1{/*下外边距1像素*/
    margin-bottom: 1px !important;
}
.mb3{/*下外边距3像素*/
    margin-bottom:3px !important;
}
.mb4{/*下外边距4像素*/
    margin-bottom: 4px !important;
}
.mb5{/*下外边距5像素*/
    margin-bottom: 5px !important;
}
.mb6{/*下外边距6像素*/
    margin-bottom: 6px !important;
}
.mb7{/*下外边距7像素*/
    margin-bottom: 7px !important;
}
.mb8{/*下外边距8像素*/
     margin-bottom: 8px !important;
 }
.mb9{/*下外边距9像素*/
    margin-bottom: 9px !important;
}
.mb10{/*下外边距10像素*/
    margin-bottom: 10px !important;
}
.mb11{/*下外边距11像素*/
    margin-bottom: 11px !important;
}
.mb12{/*下外边距12像素*/
    margin-bottom: 12px !important;
}
.mb13{/*下外边距13像素*/
    margin-bottom: 13px !important;
}
.mb14{/*下外边距14像素*/
    margin-bottom: 14px !important;
}
.mb15{/*下外边距15像素*/
    margin-bottom: 15px !important;
}
.mb16{/*下外边距16像素*/
    margin-bottom: 16px !important;
}
.mb17{/*下外边距17像素*/
    margin-bottom: 17px !important;
}
.mb18{/*下外边距18像素*/
    margin-bottom: 18px !important;
}
.mb20{/*下外边距20像素*/
    margin-bottom: 20px !important;
}
.mb22{/*下外边距22像素*/
    margin-bottom: 22px !important;
}
.mb23{/*下外边距23像素*/
    margin-bottom: 23px !important;
}
.mb24{/*下外边距24像素*/
    margin-bottom: 24px !important;
}
.mb25{/*下外边距25像素*/
    margin-bottom: 25px !important;
}
.mb26{/*下外边距26像素*/
    margin-bottom: 26px !important;
}
.mb28{/*下外边距28像素*/
    margin-bottom: 28px !important;
}
.mb30{/*下外边距30像素*/
    margin-bottom: 30px !important;
}
.mb31{/*下外边距31像素*/
    margin-bottom: 31px !important;
}
.mb32{/*下外边距32像素*/
    margin-bottom: 32px !important;
}
.mb33{/*下外边距32像素*/
    margin-bottom: 33px !important;
}
.mb34{/*下外边距34像素*/
    margin-bottom: 34px !important;
}
.mb35{/*下外边距35像素*/
    margin-bottom: 35px !important;
}
.mb37{/*下外边距37像素*/
    margin-bottom: 37px !important;
}
.mb40{/*下外边距40像素*/
    margin-bottom: 40px !important;
}
.mb45{/*下外边距45像素*/
    margin-bottom: 45px !important;
}
.mb48{/*下外边距48像素*/
    margin-bottom: 48px !important;
}
.mb50{/*下外边距50像素*/
    margin-bottom: 50px !important;
}
.mb52{/*下外边距52像素*/
    margin-bottom: 52px !important;
}
.mb55{/*下外边距55像素*/
     margin-bottom: 55px !important;
}
.mb60{/*下外边距60像素*/
    margin-bottom: 60px !important;
}
.mb63{/*下外边距63像素*/
    margin-bottom: 63px !important;
}
.mb65{/*下外边距65像素*/
    margin-bottom: 65px !important;
}
.mb70{/*下外边距70像素*/
    margin-bottom: 70px !important;
}
.mb80{/*下外边距80像素*/
    margin-bottom: 80px !important;
}
.mb85{/*下外边距85像素*/
    margin-bottom: 85px !important;
}
.mb92{/*下外边距92像素*/
    margin-bottom: 92px !important;
}
.mb100{/*下外边距100像素*/
    margin-bottom: 100px !important;
}
.mb209{/*下外边距209像素*/
    margin-bottom: 209px !important;
}
/*左外边距*/
.ml0{/*左外边距0像素*/
    margin-left: 0 !important;
}
.ml1{/*左外边距1像素*/
    margin-left: 1px !important;
}
.ml4{/*左外边距4像素*/
    margin-left: 4px !important;
}
.ml5{/*左外边距5像素*/
    margin-left: 5px !important;
}
.ml7{/*左外边距7像素*/
    margin-left: 7px !important;
}
.ml8{/*左外边距8像素*/
    margin-left: 8px !important;
}
.ml10{/*左外边距10像素*/
    margin-left: 10px !important;
}
.ml12{/*左外边距12像素*/
    margin-left: 12px !important;
}
.ml15{/*左外边距15像素*/
    margin-left: 15px !important;
}
.ml18{/*左外边距18像素*/
    margin-left: 18px !important;
}
.ml20{/*左外边距20像素*/
    margin-left: 20px !important;
}
.ml22{/*左外边距22像素*/
    margin-left: 22px !important;
}
.ml25{/*左外边距25像素*/
    margin-left: 25px !important;
}
.ml28{/*左外边距28像素*/
    margin-left: 28px !important;
}
.ml30{/*左外边距30像素*/
    margin-left: 30px !important;
}
.ml35{/*左外边距30像素*/
    margin-left: 35px !important;
}
.ml40{/*左外边距40像素*/
    margin-left: 40px !important;
}
.ml45{/*左外边距45像素*/
    margin-left: 45px !important;
}
.ml48{/*左外边距48像素*/
    margin-left: 48px !important;
}
.ml50{/*左外边距50像素*/
    margin-left: 50px !important;
}
.ml55{/*左外边距55像素*/
    margin-left: 55px !important;
}
.ml58{/*左外边距58像素*/
    margin-left: 58px !important;
}
.ml60{/*左外边距60像素*/
    margin-left: 60px !important;
}
.ml63{/*左外边距63像素*/
    margin-left: 63px !important;
}
.ml65{/*左外边距65像素*/
    margin-left: 65px !important;
}
.ml70{/*左外边距70像素*/
    margin-left: 70px !important;
}
.ml83{/*左外边距83像素*/
    margin-left: 83px !important;
}
/*上下外边距*/
.mtb0{/*上下外边距0像素*/
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.mtb1{/*上下外边距1像素*/
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
.mtb3{/*上下外边距3像素*/
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.mtb5{/*上下外边距5像素*/
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mtb6{/*上下外边距6像素*/
    margin-top:6px !important;
    margin-bottom:6px !important;
}
.mtb7{/*上下外边距7像素*/
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}
.mtb10{/*上下外边距10像素*/
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mtb12{/*上下外边距12像素*/
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.mtb13{/*上下外边距13像素*/
    margin-top: 13px !important;
    margin-bottom: 13px !important;
}
.mtb15{/*上下外边距15像素*/
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mtb20{/*上下外边距20像素*/
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mtb25{/*上下外边距25像素*/
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.mtb30{/*上下外边距30像素*/
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mtb35{/*上下外边距35像素*/
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.mtb40{/*上下外边距40像素*/
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mtb45{/*上下外边距45像素*/
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}
.mtb50{/*上下外边距50像素*/
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.mtb55{/*上下外边距55像素*/
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}
.mtb60{/*上下外边距60像素*/
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
/*左右外边距*/
.mlr0{/*左右外边距0像素*/
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mlr3{/*左右外边距3像素*/
    margin-left: 3px !important;
    margin-right: 3px !important;
}
.mlr5{/*左右外边距5像素*/
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mlr10{/*左右外边距10像素*/
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mlr12{/*左右外边距12像素*/
    margin-left: 12px !important;
    margin-right: 12px !important;
}
.mlr15{/*左右外边距15像素*/
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.mlr20{/*左右外边距20像素*/
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mlr25{/*左右外边距25像素*/
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.mlr30{/*左右外边距30像素*/
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mlr35{/*左右外边距35像素*/
    margin-left: 35px !important;
    margin-right: 35px !important;
}
.mlr40{/*左右外边距40像素*/
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mlr45{/*左右外边距45像素*/
    margin-left: 45px !important;
    margin-right: 45px !important;
}
.mlr50{/*左右外边距50像素*/
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.mlr55{/*左右外边距55像素*/
    margin-left: 55px !important;
    margin-right: 55px !important;
}
.mlr60{/*左右外边距60像素*/
    margin-left: 60px !important;
    margin-right: 60px !important;
}
/*上内边距*/
.pt0{/*上内边距0像素*/
    padding-top: 0;
}
.pt2{/*上内边距2像素*/
    padding-top: 2px;
}
.pt3{/*上内边距3像素*/
    padding-top: 3px;
}
.pt4{/*上内边距4像素*/
    padding-top: 4px;
}
.pt5{/*上内边距5像素*/
    padding-top: 5px;
}
.pt6{/*上内边距6像素*/
    padding-top: 6px;
}
.pt8{/*上内边距8像素*/
    padding-top: 8px;
}
.pt10{/*上内边距10像素*/
    padding-top: 10px;
}
.pt11{/*上内边距11像素*/
    padding-top: 11px;
}
.pt12{/*上内边距12像素*/
    padding-top: 12px;
}
.pt13{/*上内边距13像素*/
    padding-top: 13px;
}
.pt15{/*上内边距15像素*/
    padding-top: 15px;
}
.pt17{/*上内边距17像素*/
    padding-top: 17px;
}
.pt20{/*上内边距20像素*/
    padding-top: 20px;
}
.pt25{/*上内边距25像素*/
    padding-top: 25px;
}
.pt30{/*上内边距30像素*/
    padding-top: 30px;
}
.pt35{/*上内边距35像素*/
    padding-top: 35px;
}
.pt40{/*上内边距40像素*/
    padding-top: 40px;
}
.pt45{/*上内边距45像素*/
    padding-top: 45px;
}
.pt50{/*上内边距50像素*/
    padding-top: 50px;
}
.pt55{/*上内边距55像素*/
    padding-top: 55px;
}
.pt60{/*上内边距60像素*/
    padding-top: 60px;
}
.pt65{/*上内边距65像素*/
    padding-top: 65px;
}
.pt69{/*上内边距69像素*/
    padding-top: 69px;
}
.pt83{/*上内边距83像素*/
    padding-top: 83px;
}
/*右内边距*/
.pr0{/*右内边距0像素*/
    padding-right: 0;
}
.pr3{/*右内边距3像素*/
    padding-right: 3px;
}
.pr5{/*右内边距5像素*/
    padding-right: 5px;
}
.pr10{/*右内边距10像素*/
    padding-right: 10px;
}
.pr15{/*右内边距15像素*/
    padding-right: 15px;
}
.pr20{/*右内边距20像素*/
    padding-right: 20px;
}
.pr22{/*右内边距22像素*/
    padding-right: 22px;
}
.pr25{/*右内边距25像素*/
    padding-right: 25px;
}
.pr28{/*右内边距28像素*/
    padding-right: 28px;
}
.pr30{/*右内边距30像素*/
    padding-right: 30px;
}
.pr35{/*右内边距35像素*/
    padding-right: 35px;
}
.pr40{/*右内边距40像素*/
    padding-right: 40px;
}
.pr45{/*右内边距45像素*/
    padding-right: 45px;
}
.pr50{/*右内边距50像素*/
    padding-right: 50px;
}
.pr55{/*右内边距55像素*/
    padding-right: 55px;
}
.pr60{/*右内边距60像素*/
    padding-right: 60px;
}
/*下内边距*/
.pb0{/*下内边距0像素*/
    padding-bottom: 0;
}
.pb2{/*下内边距2像素*/
    padding-bottom: 2px !important;
}
.pb3{/*下内边距3像素*/
    padding-bottom: 3px;
}
.pb4{/*下内边距4像素*/
    padding-bottom: 4px;
}
.pb5{/*下内边距5像素*/
    padding-bottom: 5px;
}
.pb6{/*下内边距6像素*/
    padding-bottom: 6px;
}
.pb7{/*下内边距7像素*/
    padding-bottom: 7px;
}
.pb8{/*下内边距8像素*/
    padding-bottom: 8px;
}
.pb10{/*下内边距10像素*/
    padding-bottom: 10px;
}
.pb11{/*下内边距11像素*/
    padding-bottom: 11px;
}
.pb12{/*下内边距12像素*/
    padding-bottom: 12px;
}
.pb15{/*下内边距15像素*/
    padding-bottom: 15px;
}
.pb18{/*下内边距18像素*/
    padding-bottom: 18px;
}
.pb20{/*下内边距20像素*/
    padding-bottom: 20px;
}
.pb23{/*下内边距23像素*/
    padding-bottom: 23px;
}
.pb25{/*下内边距25像素*/
    padding-bottom: 25px;
}
.pb30{/*下内边距30像素*/
    padding-bottom: 30px;
}
.pb35{/*下内边距35像素*/
    padding-bottom: 35px;
}
.pb37{/*下内边距37像素*/
    padding-bottom: 37px;
}
.pb40{/*下内边距40像素*/
    padding-bottom: 40px;
}
.pb43{/*下内边距43像素*/
    padding-bottom: 43px;
}
.pb45{/*下内边距45像素*/
    padding-bottom: 45px;
}
.pb50{/*下内边距50像素*/
    padding-bottom: 50px;
}
.pb55{/*下内边距55像素*/
    padding-bottom: 55px;
}
.pb60{/*下内边距60像素*/
    padding-bottom: 60px;
}
.pb80{/*下内边距80像素*/
    padding-bottom: 80px;
}
.pb92{/*下内边距92像素*/
    padding-bottom: 92px;
}
/*左内边距*/
.pl0{/*左内边距0像素*/
    padding-left: 0;
}
.pl3{/*左内边距3像素*/
    padding-left: 3px;
}
.pl5{/*左内边距5像素*/
    padding-left: 5px;
}
.pl6{/*左内边距6像素*/
    padding-left: 6px;
}
.pl8{/*左内边距8像素*/
    padding-left: 8px;
}
.pl10{/*左内边距10像素*/
    padding-left: 5px;
}
.pl12{/*左内边距12像素*/
    padding-left: 12px;
}
.pl15{/*左内边距15像素*/
    padding-left: 15px;
}
.pl20{/*左内边距20像素*/
    padding-left: 20px;
}
.pl22{/*左内边距22像素*/
    padding-left: 22px;
}
.pl25{/*左内边距25像素*/
    padding-left: 25px;
}
.pl26{/*左内边距26像素*/
    padding-left: 26px;
}
.pl30{/*左内边距30像素*/
    padding-left: 30px;
}
.pl35{/*左内边距35像素*/
    padding-left: 35px;
}
.pl40{/*左内边距40像素*/
    padding-left: 40px;
}
.pl43{/*左内边距43像素*/
    padding-left: 43px;
}
.pl44{/*左内边距44像素*/
    padding-left: 44px;
}
.pl45{/*左内边距45像素*/
    padding-left: 45px;
}
.pl50{/*左内边距50像素*/
    padding-left: 50px;
}
.pl55{/*左内边距55像素*/
    padding-left: 55px;
}
.pl60{/*左内边距60像素*/
    padding-left: 60px;
}
.pl80{/*左内边距80像素*/
    padding-left: 80px;
}
.pl83{/*左内边距83像素*/
    padding-left: 83px;
}
/*上下内边距*/
.ptb0{/*上下内边距0像素*/
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.ptb1{/*上下内边距1像素*/
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.ptb3{/*上下内边距3像素*/
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
.ptb4{/*上下内边距4像素*/
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.ptb5{/*上下内边距5像素*/
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ptb6{/*上下内边距6像素*/
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.ptb7{/*上下内边距7像素*/
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.ptb8{/*上下内边距8像素*/
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.ptb10{/*上下内边距10像素*/
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.ptb11{/*上下内边距11像素*/
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}
.ptb12{/*上下内边距12像素*/
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.ptb13{/*上下内边距13像素*/
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
.ptb15{/*上下内边距15像素*/
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.ptb16{/*上下内边距16像素*/
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.ptb17{/*上下内边距17像素*/
    padding-top: 17px !important;
    padding-bottom: 17px !important;
}
.ptb20{/*上下内边距20像素*/
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.ptb22{/*上下内边距22像素*/
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}
.ptb25{/*上下内边距25像素*/
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.ptb26{/*上下内边距26像素*/
    padding-top: 26px !important;
    padding-bottom: 26px !important;
}
.ptb30{/*上下内边距30像素*/
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.ptb35{/*上下内边距35像素*/
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}
.ptb40{/*上下内边距40像素*/
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.ptb42{/*上下内边距42像素*/
    padding-top: 42px !important;
    padding-bottom: 42px !important;
}
.ptb45{/*上下内边距45像素*/
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}
.ptb50{/*上下内边距50像素*/
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.ptb53{/*上下内边距53像素*/
    padding-top: 53px !important;
    padding-bottom: 53px !important;
}
.ptb55{/*上下内边距55像素*/
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}
.ptb58{/*上下内边距58像素*/
    padding-top: 58px !important;
    padding-bottom: 58px !important;
}
.ptb60{/*上下内边距60像素*/
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
/*左右内边距*/
.plr0{/*左右外边距0像素*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.plr1{/*左右外边距1像素*/
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.plr2{/*左右外边距2像素*/
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.plr5{/*左右外边距5像素*/
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.plr6{/*左右外边距6像素*/
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.plr7{/*左右外边距7像素*/
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.plr8{/*左右外边距8像素*/
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.plr10{/*左右外边距10像素*/
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.plr12{/*左右外边距12像素*/
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.plr15{/*左右外边距15像素*/
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.plr16{/*左右外边距16像素*/
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.plr20{/*左右外边距20像素*/
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.plr22{/*左右外边距22像素*/
    padding-left: 22px !important;
    padding-right: 22px !important;
}
.plr25{/*左右外边距25像素*/
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.plr26{/*左右外边距26像素*/
    padding-left: 26px !important;
    padding-right: 26px !important;
}
.plr27{/*左右外边距27像素*/
    padding-left: 27px !important;
    padding-right: 27px !important;
}
.plr28{/*左右外边距28像素*/
    padding-left: 28px !important;
    padding-right: 28px !important;
}
.plr29{/*左右外边距29像素*/
    padding-left: 29px !important;
    padding-right: 29px !important;
}
.plr30{/*左右外边距30像素*/
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.plr33{/*左右外边距33像素*/
    padding-left: 33px !important;
    padding-right: 33px !important;
}
.plr35{/*左右外边距35像素*/
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.plr40{/*左右外边距40像素*/
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.plr42{/*左右外边距42像素*/
    padding-left: 42px !important;
    padding-right: 42px !important;
}
.plr45{/*左右外边距45像素*/
     padding-left: 45px !important;
     padding-right: 45px !important;
 }
.plr50{/*左右外边距50像素*/
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.plr53{/*左右外边距53像素*/
    padding-left: 53px !important;
    padding-right: 53px !important;
}
.plr55{/*左右外边距55像素*/
    padding-left: 55px !important;
    padding-right: 55px !important;
}
.plr60{/*左右外边距60像素*/
    padding-left: 60px !important;
    padding-right: 60px !important;
}
/********************************外边距  结束********************************/

/********************************边框  开始********************************/
/*边框0*/
.border0{
    border: 0 !important;
}
/*右边框0*/
.border-right-0{
    border-right: 0 !important;
}
/*左边框0*/
.border-left-0{
    border-left: 0 !important;
}
/*上边框0*/
.border-top-0{
    border-top: 0 !important;
}
/*下边框0*/
.border-bottom-0{
    border-bottom: 0 !important;
}
/********************************边框  结束********************************/

/********************************字体 开始********************************/
/*字体大小0像素*/
.fs0{
    font-size: 0 !important;
}
/*字体大小8像素*/
.fs8{
    font-size: 8px !important;
}
/*字体大小10像素*/
.fs10{
    font-size: 10px !important;
}
/*字体大小11像素*/
.fs11{
    font-size: 11px !important;
}
/*字体大小12像素*/
.fs12{
    font-size: 12px !important;
}
/*字体大小14像素*/
.fs14{
    font-size: 14px !important;
}
/*字体大小16像素*/
.fs16{
    font-size: 16px !important;
}
/*字体大小17像素*/
.fs17{
    font-size: 17px !important;
}
/*字体大小18像素*/
.fs18{
    font-size: 18px !important;
}
/*字体大小20像素*/
.fs20{
    font-size: 20px !important;
}
/*字体大小21像素*/
.fs21{
    font-size: 21px !important;
}
/*字体大小22像素*/
.fs22{
    font-size: 22px !important;
}
/*字体大小23像素*/
.fs23{
    font-size: 23px !important;
}
/*字体大小24像素*/
.fs24{
    font-size: 24px !important;
}
/*字体大小25像素*/
.fs25{
    font-size: 25px !important;
}
/*字体大小26像素*/
.fs26{
    font-size: 26px !important;
}
/*字体大小28像素*/
.fs28{
    font-size: 28px !important;
}
/*字体大小30像素*/
.fs30{
    font-size: 30px !important;
}
/*字体大小32像素*/
.fs32{
    font-size: 32px !important;
}
/*字体大小34像素*/
.fs34{
    font-size: 34px !important;
}
/*字体大小36像素*/
.fs36{
    font-size: 36px !important;
}
/*字体大小48像素*/
.fs48{
    font-size: 48px !important;
}
/*字体大小60像素*/
.fs60{
    font-size: 60px !important;
}
/*字体倾斜*/
.font-italic{
    font-style:italic !important;
}
/*字体扶正*/
.font-normal{
    font-style:normal !important;
}
/*字体变粗*/
.font-bolder{
    font-weight: bolder !important;
}
/*字体变细*/
.font-lighter{
    font-weight: lighter !important;
}
/*微软雅黑*/
.ffyh{
    font-family: "sans-serif"/*微软雅黑*/ !important;
}
/********************************字体 结束********************************/

/********************************文本水平对齐    开始********************************/
/*左对齐*/
.text-left{
    text-align: left !important;
}
/*居中对齐*/
.text-center{
    text-align: center !important;
}
/*右对齐*/
.text-right{
    text-align: right !important;
}
/********************************文本水平对齐    结束********************************/

/********************************文本垂直对齐   开始********************************/
/*垂直上对齐*/
.text-top{
    vertical-align: top !important;
}
/*垂直居中对齐*/
.text-middle{
    vertical-align: middle !important;
}
/*垂直下对齐*/
.text-bottom{
    vertical-align: bottom !important;
}
/*首行缩进2字符*/
.text-indent-2{
    text-indent: 2em !important;
}
/********************************文本垂直对齐   结束********************************/

/********************************文本大小写   开始********************************/
/*全小写*/
.text-lower{
    text-transform: lowercase !important;
}
/*全大写*/
.text-upper{
     text-transform: uppercase !important;
 }
/*首字母大写*/
.text-cap{
    text-transform: capitalize !important;
}
/********************************文本大小写    结束********************************/

/********************************文本修饰   开始********************************/
/*下划线*/
.text-under{
    text-decoration: underline !important;
}
/*上划线*/
.text-over{
    text-decoration: overline !important;
}
/*删除线*/
.text-through{
    text-decoration: line-through !important;
}
.text-none{/*没有线*/
    text-decoration: none !important;
}
/*强制文本在一行显示*/
.white-space{
    white-space: nowrap !important;
}
/*单行文本截断*/
.text-ellipsis{
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
/*溢出隐藏*/
.o-hidden{
    overflow: hidden !important;
}
/*溢出显示滚动条*/
.o-scroll{
    overflow: scroll !important;
}
/*x轴隐藏*/
.o-x-hidden{
    overflow-x: hidden !important;
}
/*y轴隐藏*/
.o-y-hidden{
    overflow-y: hidden !important;
}
/********************************文本修饰    结束********************************/

/********************************元素类型的转换  开始********************************/
/*块元素*/
.block{
    display: block !important;
}
/*行元素*/
.inline{
    display: inline !important;
}
/*去掉*/
.d-none{
    display: none !important;
}
/*行级快元素*/
.d-i-b{
    display: inline-block !important;
}
/*转换成表格*/
.table{
    display: table !important;
}
/*转换成单元格*/
.cell{
    display: table-cell !important;
}
/*转换成弹性盒子*/
.d-flex{
    display: flex !important;
}
/********************************元素类型的转换  结束********************************/

/********************************字体颜色 开始********************************/
.color-0{
    color: #000;
}
.color-1{
    color: #111;
}
.color-2{
    color: #222;
}
.color-3{
    color: #333;
}
.color-4{
    color: #444;
}
.color-5{
    color: #555;
}
.color-6{
    color: #666;
}
.color-7{
    color: #777;
}
.color-8{
    color: #888;
}
.color-9{
    color: #999;
}
.color-c{
    color: #ccc;
}
.color-f{
    color: #fff;
}
.color-fe{
    color: #fefefe;
}
.color-e{
    color: #eee;
}
.color-d{
    color: #ddd;
}
.color-833333{
    color: #833333;
}
.color-73{
    color: #737373;
}
.color-06c{
    color: #0066cc;
}
.color-6c{
    color: #6c6c6c;
}
.color-e32114{
    color: #e32114
;
}
/********************************字体颜色 结束********************************/

/********************************背景颜色 开始********************************/
.b-color-0{
    background-color: #000;
}
.b-color-1{
    background-color: #111;
}
.b-color-2{
    background-color: #222;
}
.b-color-3{
    background-color: #333;
}
.b-color-4{
    background-color: #444;
}
.b-color-5{
    background-color: #555;
}
.b-color-6{
    background-color: #666;
}
.b-color-7{
    background-color: #777;
}
.b-color-8{
    background-color: #888;
}
.b-color-9{
    background-color: #999;
}
.b-color-c{
    background-color: #ccc;
}
.b-color-f{
    background-color: #fff;
}
.b-color-e{
    background-color: #eee;
}
.b-color-d{
     background-color: #ddd;
 }
.b-color-73{
    background-color: #737373;
}
.b-color-06c{
    background-color: #0066cc;
}
/********************************背景颜色 结束********************************/

/********************************浮动布局 开始********************************/
/*左浮动*/
.fl{
     float: left !important;
 }
/*右浮动*/
.fr{
    float: right !important;
}
/*没有浮动*/
.f-none{
    float: none !important;
}
/*清浮动*/
.clearfix{/*清浮动*/
    *zoom: 1;
}
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
/*标准盒模型转怪异盒模型*/
.b-border-box{
    box-sizing: border-box !important;
}
/*怪异盒模型转标准盒模型*/
.b-content-box{
    box-sizing: content-box !important;
}
/********************************浮动布局 结束********************************/

/********************************定位 开始********************************/
/*相对定位*/
.p-r{
    position: relative !important;
}
/*绝对定位*/
.p-a{
    position: absolute !important;
}
/*固定定位*/
.p-f{
    position: fixed !important;
}
/*去掉定位*/
.p-s{
    position: static !important;
}
/*定位到水平居中位置*/
.p-x-center{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*定位到垂直居中位置*/
.p-y-center{
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*水平垂直居中*/
.p-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/********************************定位 结束********************************/

/******************************遮罩层 开始*******************************/
.mask:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
/*隐藏*/
.hide{
    display: none !important;
}
/******************************遮罩层 结束*******************************/